
/* Regole Generali Progetto*/

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.bottone-blu{
    background-color: rgba(0,97,255,255);
    color: white;
}

.underline{
    text-decoration: underline;
    color: rgba(59,40,239,255);
}

.spunta-blu{
    color: rgba(0,97,255,255);
}



/* HEADER */

header{
    position: relative;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.navigator-left{
    display: flex;
    flex-direction: row;
}

.navigator-right{
    display: flex;
    flex-direction: row;
}

.nav-cells{
    height: calc(100% - 10px);
    margin: 0 20px;
}

#inizia{
    padding: 5px 15px;
}




/* JUMBOTRON */

.jumbotron{
    background-color: rgba(180,208,231,255);
    padding: calc(7vh + 80px) 18% 20px;
}

.jumbotron-container{
    display: flex;
    flex-direction: column;
}

.titolo-jumbotron{
    font-size: 83px;
    font-weight: 900;
    margin: 30px 0;
}

.descrizione-e-foto-container{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.descrizione-jumbotron{
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 50px;
}

.immagine-jumbotron{
    width: 65%;
    background-size: contain;
}

#prova-gratuita{
    padding: 10px 15px;
    min-width: 50px;
}

.freccia-jumbotron{
    font-size: 50px;
    position: absolute;
    bottom: 30px;
}




/* BODY */

/* Regole Generali */

.container-main{
    padding: 0 25% 100px;
    margin-top: 100px;
}




/* Piani */

.selezione{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.fatturazione-mensile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.fatturazione-annuale{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.cerchio-selezionato{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgba(0,97,255,255);
}

.cerchio-non-selezionato{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgba(216,216,219,255);
}



.piani{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin: 50px 0 70px;
}

.professional{
    width: 30%;
    
}

.advanced{
    width: 30%;
}

.enterprise{
    width: 30%;
}

.target{
    border: 2px solid rgba(236,236,237,255);
    text-align: center;
    padding: 10px 0;
}

.descrizione{
    border-left: 2px solid rgba(236,236,237,255);
    border-bottom: 2px solid rgba(236,236,237,255);
    border-right: 2px solid rgba(236,236,237,255);
    padding: 30px 20px;
    min-height: 870px;
}

h5{
    margin-bottom: 0;
}

.mese{
    font-size: 13px;
    margin-bottom: 50px;
}

.features{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    margin: 20px 0;
}

.container-punti-salienti{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    margin: 20px 0;
}

#prova-gratis{
    padding: 10px 0;
    margin: 50px 0 40px;
    text-align: center;
}

hr{
    width: 20%;
    margin: 40px 0 50px;
}


/* Enterprise Orizzontale */

.enterprise-orizzontale{
    font-size: 14px;
}

.target-orizzontale{
    border: 2px solid rgba(236,236,237,255);
    text-align: center;
    padding: 10px 0;
}

.descrizione-orizzontale{
    border-left: 2px solid rgba(236,236,237,255);
    border-bottom: 2px solid rgba(236,236,237,255);
    border-right: 2px solid rgba(236,236,237,255);
    padding: 30px 20px;
}

.enterprise-e-contatta-ufficio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contatta-ufficio{
    padding: 15px 40px;
}

#soluzioni-personalizzate{
    margin: 50px 0 0;
    width: 65%;
}




/* Partner */














/* FOOTER */

/* Regole Generali Footer*/










